version: "3.9"

services:
     app:
       container_name: operation-api
       image: lucas.io/operation-api:v1.0.0
       build: ./
       ports:
         - 8080:8080
       env_file:
         - app-variables.env
       networks:
         - backend-network
         
     postgresql:
       image: postgres:13
       container_name: postgresql
       ports:
         - "5432:5432"
       volumes:
         - pgdata:/var/lib/postgresql/data
         - ./init.sql:/docker-entrypoint-initdb.d/init.sql
       env_file:
         - dbpostgresql-variables.env
       networks:
         - backend-network

volumes:
  pgdata: {}

networks:
  backend-network:
      name: "backend-network"